@import "tailwindcss";

  .container{
        width: 90%;
    }

@theme{ /*تعريف متغيرات*/

  /*الالوان*/
    --color-background-main:#FDF1F1;
    --color-background:#F7EBEB;
    --color-background-2:#C5B3D3;
    --color-background-3:#FDD3D3;
    --color-head:#675975;
    --color-text:#4A454C;    
    --color-text2:#6E595A;
    --color-text3:#201A1B;

  /*الخطوط*/
    --font-harmattan:"Harmattan";/*بديل FreeSerif*/
    --font-lora: "Lora"; /*Liberation Serif بديل*/

  /*حجم شاشة جديد*/
    --breakpoint-xs:400px; /*400-650*/
}

@layer base { /*تعديل على التيلوند*/
    body{
        background-color: var(--color-background-main);
        font-family: var(--font-harmattan);
    }
    h1{
        font-size: 3rem;
        line-height: 3.75rem;
        letter-spacing: 0.06rem;
        font-weight: 900;
    }
    h2{ /*العناوين مثل الاكثر مبيعا*/ /*اسم المنتج في صفحة المنتج*/
        font-size: 2rem;
        line-height: 3.75rem;
        letter-spacing: 0.06rem;
        font-weight: 800;
    } 
    h3{
        font-size: 1.5rem;
        line-height: 2.1rem;
        letter-spacing: 0rem;
        font-weight: 700;
    }    
    h4{ /*العناوين في االفوتير*/
        font-size: 1.3rem;
        line-height: 2.1rem;
        letter-spacing: 0rem;
        font-weight: 600;

    }    
    h5{/*   اسم المنتج في السلة ملخص الطلب*/
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0rem;
        font-weight: 500;
    }    
    h6{
        font-size: .8rem;
        line-height: 1rem;
        letter-spacing: 0rem;
        font-weight: 400;
    }    
    .container{
      @apply mx-auto ;
    }
    /*
    .product h5{
       color: var(--color-head); 
       font-size: 25px;
    }*/
}    


@utility row{ /*اضافة كلاس جديد للتيلوند*/
    @apply flex items-center;
}
@utility nav-link{
    @apply text-[16px]  hover:text-head transition-all duration-500  hover:scale-110 hidden lg:inline-block;
}
@utility mainbutton{
    @apply py-4 px-10 rounded-4xl transition-all duration-500 text-white bg-head w-fit hover:text-head hover:bg-white;
}
@utility whitebutton{
    @apply py-4 px-10 rounded-4xl transition-all duration-500 bg-white text-head w-fit hover:bg-head hover:text-white ;
}
@utility section{ /*  لانو لما عملت فليكس كول بتنعكس الجستفاي مع الالين اتمز استخدمت  justify-end*/
    @apply h-72 bg-no-repeat bg-cover bg-center rounded-[40px] flex flex-col justify-end; 
}
@utility product{
    @apply  lg:w-[calc((100%-6rem)/4)] md:w-[calc((100%-4rem)/3)] sm:w-[calc((100%-2rem)/2)] w-[100%] text-center; 
}
@utility text-underline{
  position: relative;
  display: inline-block; 
  &::after {
 content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #201A1B; 
  }
}
@utility footer-head{
    @apply mb-[25px] text-head; 
}
@utility footer-nav{
    @apply  min-lg:w-[calc((100%-18rem)/4)] max-lg:w-[calc((100%-12rem)/3)]  max-md:w-[calc((100%-12rem)/3)] max-md:bg-amber-500 max-sm:w-full flex flex-col gap-4; 
}
@utility new-best {
    @apply absolute top-4 right-4 py-2 px-5 rounded-4xl;
}
@utility product-name{
    @apply text-head text-[24px] ;
}
@utility product-price{
    @apply text-[#765657] text-[18px] font-bold;
}
@utility product-desc{
    @apply text-text text-[18px] mb-[6.2px];
}
@utility num{
    @apply inline-block px-5  py-3 text-center text-head border-1 border-[#CCC4CD] rounded-4xl aspect-square;
}
@utility page-num{
    @apply text-white bg-head;
}